* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Cera_pro_bold";
    src: url(../fonts/CeraPro-Bold.ttf);
}

@font-face {
    font-family: "Cera_pro_med";
    src: url(../fonts/CeraPro-Medium.ttf);
}

@font-face {
    font-family: "Cera_pro_reg";
    src: url(../fonts/CeraPro-Regular.ttf);
}

.container {
    font-family: "Cera_pro_reg";
    max-width: 100%;
    margin: 30px auto 0;
}

.header_logo {
    color: #46A358;
    max-width: 12%;
}

.container header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
}

.header_logo img {
    max-width: 100%;
}

.container header nav {
    width: 29%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container header nav a {
    font-family: "Cera_pro_reg";
    text-decoration: none;
    font-weight: 400;
    color: #3D3D3D;
    font-size: 16px;
}

.container header nav a:first-child {
    font-weight: 700;
    padding-bottom: 25px;
    border-bottom: 3px solid #46A358;
}


.btn {

    position: relative;
    background-color: #46A358;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .log_btn {
    font-family: "Cera_pro_med";
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 17px 7px 41px;
}

.btn i {
    background-color: none;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 14px;
    left: 12px;
}

.text {
    margin-top: 12px;
    background-color: #F5F5F580;
    display: flex;
    flex-wrap: wrap;
}

.text_left {
    width: 59%;
    padding: 68px 0 0 43px;
}

.text_left p:nth-child(1) {
    color: #3D3D3D;
    font-family: "Cera_pro_med";
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.text_left h1 {
    font-family: "Cera_pro_bold";
    max-width: 80%;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin: 7px 0 5px;
}

.text_left h1 span {
    color: #46A358;
}

.text_left p:nth-child(3) {
    font-family: "Cera_pro_reg";
    line-height: 24px;
    font-size: 14px;
    max-width: 80%;
    color: #727272;
    font-weight: 400;
    margin-bottom: 44px;
}

.text_left .btn_shop {
    font-family: "Cera_pro_bold";
    background-color: #46A358;
    border-radius: 6px;
    padding: 11px 27px 9px 26px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
}

.img_right {
    width: 40%;
}

.img_right img {
    width: 100%;
    overflow: hidden;
}

.wraper_container {
    font-family: "Cera_pro_reg";
    max-width: 100%;
    margin: 0 auto;
    padding: 105px 0;
    line-height: 16px;
    font-size: 16px;
}

.wraper_container nav {
    width: 157px;
    height: 16px;
    margin: 20px auto;
}

.wraper_container nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Cera_pro_reg";
    color: #000;
}

.wraper_container nav .start {
    color: #46A358;
    width: 50%;
    border-right: 1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
}

.wraper_container nav .reg {
    color: #46A358;
    width: 50%;
    border-left: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
}

.wraper_container main {
    width: 300px;
    margin: 0 auto;
}

.wraper_container main div:first-child {
    width: 400px;
    font-weight: 400;
    font-size: 13px;
}

.wraper_container main input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: #EAEAEA;
    margin: 15px 0;
}

.wraper_container main input::placeholder {
    padding: 20px;
}

.wraper_container main .button input {
    background: #46A358;
    color: #fff;
    font-weight: 300;
    border: none;
}

.wraper_container footer {
    width: 300px;
    margin: 0 auto;
}

.wraper_container footer .text_register {
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 400;
}

.wraper_container footer input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: #EAEAEA;
    margin: 15px 0;
    color: #727272;
    background: none;
}

.text_register {
    margin: 0 auto;
    padding: 0;
}

.gallery_wraper {
    width: 100%;
    margin: 171px auto 0;
}

.flex_container_gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.galery_box_container {
    width: 70%;
}

.galery_box_container nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galery_box_container nav .pages ul {
    display: flex;
}

.pages ul li {
    list-style: none;
}

.pages ul li:nth-child(1) {
    padding-bottom: 7px;
    border-bottom: 2px solid #46A358;
}

.pages ul li a,
.drop_down {
    font-family: "Cera_pro_reg";
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #3D3D3D;
}

.pages ul li:nth-child(1) a {
    font-weight: 700;
    font-family: "Cera_pro_bold";
    color: #46A358;

}

.pages ul li:nth-child(2) {
    margin: 0 40px 0 37px;
}

.galery_box_container header .drop_down img {
    display: inline-block;
    vertical-align: bottom;
}

.gallery .wraper_gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: center;
}

.gallery .icon img {
    max-width: 250px;
}

.gallery .icon h5 {
    font-family: "Cera_pro_reg";
    font-weight: 400;
    font-size: 16px;
    font-weight: 16px;
    color: #3D3D3D;
}

.gallery .icon {
    font-family: "Cera_pro_bold";
    font-weight: 700;
    font-size: 18px;
    font-weight: 16px;
    color: #46A358;
}

.navigation {
    width: 26%;
    background-color: #FBFBFB;
}

.navigation .nav_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.navigation h2 {
    font-family: "Cera_pro_bold";
    font-weight: 700;
    font-size: 18px;
    font-weight: 16px;
    color: #3D3D3D;
}

.navigation nav ul li a {
    font-family: "Cera_pro_reg";
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    padding-left: 12px;
}

.navigation nav ul li:nth-child(1) a {
    font-family: "Cera_pro_bold";
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    color: #46A358;
}

.navigation nav ul li {
    list-style: none;
}

.super_sale_baner {
    max-width: 100%;
    object-fit: contain;
    margin-top: 377px;
}
.super_sale_baner img{
    width: 100%;
}
.pages_numbers {
    margin: 20px;
}

.pages_numbers ul {
    display: flex;
    justify-content: flex-end;
}
.pages_numbers ul li{
    margin: 10px;
    list-style: none;
}
.pages_numbers ul li a{
    margin: 10px;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    padding: 9px 13px;
    border-radius: 4px;
}
.pages_numbers ul li a{
    font-family: "Cera_pro_reg";
    margin: 10px;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    padding: 9px 13px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 16px;
    font-weight: 300;
}
.pages_numbers ul li:nth-child(1) a{
    font-family: "Cera_pro_bold";
    padding: 9px 16px;
    border: none;
    font-weight: 700;
    background-color: #46A358;
    color: #fff;
}