* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Cera pro;
    src: url(../fonts/CeraPro-Medium.woff);
}

.container {
    font-family: Cera pro;
    max-width: 500px;
    max-height: 656px;
    margin: 0 auto;
    padding: 20px;
    line-height: 16px;
    font-size: 16px;
}

.container nav {
    width: 157px;
    height: 16px;
    margin: 20px auto;
}

.container nav a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    font-family: Cera pro;
    color: #000;
}

.container nav .start {
    color: #46A358;
    width: 50%;
    border-right: 1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
}

.container nav .reg {
    color: #46A358;
    width: 50%;
    border-left: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
}

.container main {
    width: 300px;
    margin: 0 auto;
}

main div:first-child {
    width: 400px;
    font-weight: 400;
    font-size: 13px;
}

.container main input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: #EAEAEA;
    margin: 15px 0;
}

.container main input::placeholder {
    padding: 20px;
}

.container main .button input {
    background: #46A358;
    color: #fff;
    font-weight: 300;
    border: none;
}

.container footer {
    width: 300px;
    margin: 0 auto;
}

.container footer .text {
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 400;
}

.container footer input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border-color: #EAEAEA;
    margin: 15px 0;
    color: #727272;
    background: none;
}